<?xml version='1.0' encoding='utf-8'?>
<widget id="com.droidgen.kasirku" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>KasirKu POS Pro</name>
    <description>Generated with DroidGen AI - Ready for Zip to APK</description>
    <author email="support@droidgen.ai" href="https://droidgen.ai">DroidGen AI</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="false" />
    <preference name="BackgroundColor" value="0xff020617" />
</widget>
